<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<div class="content">
  <div class="profile-header">
    <img id="profile-picture" src="/assets/img/p-img.jpg">
    <h2 class="profile-name">{{firstName}} {{lastName}}</h2>

    <h4>Location Preferences</h4>
    <div class="location-preferences" *ngFor="let item of locationPreferences">
      {{item}}
    </div>
  </div>

<div *ngIf="propertyName != '' && propertyName != null; else elseBlock">
  <div class="profile-property">
    <h3>{{propertyName}}</h3>
    <h4><i class="fas fa-edit"></i></h4>
  </div>
  <div class="profile-property-photos">
    <div id="photo1">
      <img src="/assets/img/house1.jpg" width="210" height="120">
    </div>
    <div id="photo2">
      <img src="/assets/img/house1a.jpg" width="210" height="120">
    </div>
    <div id="photo3">
      <img src="/assets/img/hma.jpg" width="210" height="120">
    </div>
    <div id="photo4">
      <img src="/assets/img/br.jpg" width="210" height="120">
    </div>
  </div>
  <div class="description">
    <h4>About</h4>
    <h5><i class="fas fa-edit"></i></h5>
    <p>
      {{propertyDescription}}
    </p>
  </div>
</div>
  <!--
  <div class="upcoming">
    <h3>Upcoming Trips</h3>
    <div id="upcoming-trip">
      <h5>{{bookingLocation}}</h5>
      <h4>{{tripDates}}</h4>
    </div>
  </div>
-->
  <ng-template #elseBlock>
    <h3>Register Your Property</h3>
    <form #propertyForm="ngForm" (ngSubmit)="getFormValues(propertyForm.value)">
      <input type="text" ngModel name="propertyName" placeholder="Enter name of your property: ">
      <input type="text" ngModel name="description" placeholder="Enter description of your property: ">
      <input type="number" ngModel name="bedrooms" placeholder="Enter number of bedrooms in your home: ">
      <input type="number" ngModel name="bathrooms" placeholder="Enter number of bathrooms in your home: ">
      <input type="text" ngModel name="address" placeholder="Enter your address: ">
      <button class="btn btn-dark"> Submit Property</button>
    </form>
  </ng-template>

</div>

